html{
  scroll-behavior: smooth;
}
.masthead {
    height: 80vh;
    min-height: 500px;
    background:linear-gradient(120deg, rgba(0,0,0,0.8) 15%, transparent) ,url('/media/header.jpg');
    background-size: cover;
    background-position: center 0.5px;
    background-repeat: no-repeat;
  }

  .bgNav{
    color:white
  }

  .bg30{
    background-color: var(--trenta);
    transition: 0.5;
    border-bottom: 1px solid var(--dieci);
  }
  :root{
    --dieci:gold;
    --trenta:rgb(27, 42, 75);
  }

  .text10{
    color:var(--dieci) !important;
  }

  .over{
    height: 200px;
    width: 70px;
    top: -105px;
    position: relative;
    overflow-y: visible;
    background-color: rgba(27, 42, 75, 0.411);
  }

  .arrow{
    height: 80px;
    background:linear-gradient(90deg,var(--trenta) 45%, white);
    
  }

  .arrow2{
    height:80px;
    background: linear-gradient(-90deg,gray 45%,white);
  }

.bg10{
  background-color: var(--dieci);
}

  .textHover{
    color:black;
  }

  .textHover:hover{
    color:var(--dieci) !important;
  }

  .btn-custom{
    background-color: var(--trenta) !important;
    color:var(--dieci) !important;
    border: 1px solid var(--dieci);
  }

  .foot{
    height: 60vh;
    background-color: var(--trenta);
  }

  .inputborder{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--dieci);
    width:500px;
  }
  .inputborder2{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--trenta);
    width:500px;
  }

  .inputborder3{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--trenta);
    width:300px;
  }
  
  .contactForm{
    height:400px;
    width:600px;
    background-color: gray;
    transition: 0.5;
  }

  .contactForm:hover{
    -webkit-box-shadow: 1px 6px 24px 9px rgba(255,255,255,1);
-moz-box-shadow: 1px 6px 24px 9px rgba(255,255,255,1);
box-shadow: 1px 6px 24px 9px rgba(255,255,255,1);
  }

  .hrFoot{
    width:33%;
    height:1px;
    background-color: var(--dieci);
  }

  .mobile{
    height:70vh;
    background-image: url('/media/mobile.jpeg');
    background-position: 0px -100px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .who{
    height:75vh;
    background:linear-gradient(90deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('/media/who.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-toggle::after {
  display: none;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}





.booking{
height: 81vh;
background-color: var(--trenta);
}

.spazio{
  height: 5vh;
  background-color: var(--trenta);
  }

.bookForm{
  height:70vh;
  width:600px;
  background-color: rgba(128, 128, 128, 0.507);
  transition: 0.5;
}



.sfondo {
  background-color: var(--trenta);
}

.card-signin {
  border: 0;
  height: 600px;
  width:800px;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.border-custom{
  border:1px solid var(--trenta);
}

.cardPrenota{
  height:280px;
}

.bookForm2{
  height:20vh;
  width:600px;
  background-color: rgba(128, 128, 128, 0.507);
  transition: 0.5;
}